body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color :cornsilk;
}

h1 {
    text-align: center;
    margin: 0 auto;
}

div {
    background-color: azure;
    width : 500px;
    margin: 0px auto;
}

ul {
    width: 150px;
    margin: 50px auto;
}